@font-face {
    font-family: 'Source Sans Pro';
    src: url('../font/SourceSansPro-ExtraLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    width: 100%;
	height: 100%;
	border: 1px solid black;
	padding: 0;
    position: absolute;
	left: 0;
    bottom: 0;
    margin: 0;
}

.calc {
    width: 100%;
    overflow: hidden;
	border: 1px solid black;
    position: absolute;
    bottom: 0;
}

.header {
    width: 100%;
	border: none;
	margin: 0;
	font-size: 2rem;
	visibility: hidden;
}

.display {
    width: 100%;
    margin-bottom: 0px;
	padding-right: 5px;
	border: none;
}
.display > input {
    width: 100%;
	border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40pt;
    height: 70px;
    text-align: right;
    background-color: #000;
    color: #fff;
    padding: 0;
}

.left-keypad {
	width: 60%;
	border: 1px solid black;
}

.right-keypad {
	width: 40%;
	border: 1px solid black;
}

.left-keypad > div {
	height: 3.7rem;
}

.right-keypad > div {
	height: 3.7rem;
}

.adv-item {
	width: 16.667%;
	border: none;
}

.item {
	width: 25%;
	border: none;
}

.double-wide {
	width: 50%;
}

.key {
    background-color: #CFD0D2;
	
    padding-top: 0.6rem;
    padding-bottom: 1.0rem;
	
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
	vertical-align: middle;
    background-color: #CFD0D2;
    color: #272727;
    display: inline-block;
    height: 100%;
    float:left;	
	font-weight: bold;
	font-size: 2.0rem;
	
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.control-key {
    background-color: #C1C2C4;
    color: #1D1D1D;
	font-weight: normal;
	font-size: 1.5rem;
    padding-top: 0.8rem;
}

.operation-key {
    background-color: #F57A12;
    color: #fff;
	font-weight: bold;
	font-size: 2.5rem;
    padding-top: 0.3rem;
}

.selected-key {
    background-color: #C1C2C4;
}

.selected-control-key {
    background-color: #B7BECD;
}

.selected-operation-key {
    background-color: #E27B28; 
}


@media screen and (orientation:portrait) {
	.header {
		font-size: 2rem;
		visibility: show;
	}
	
	.left-keypad {
		visibility: hidden;
	}

	.right-keypad {
		width: 100%;
	}

	.right-keypad > div {
		height: 6rem;
	}
	
	.display {
		width: 100%;
		margin-bottom: 10px;
		position: absolute;
		bottom: 30rem; 
	}
	.display > input {
		width: 100%;
		font-size: 4rem;
	}	
	
	.key {
		padding-top: 1.5rem;
		padding-bottom: 2.0rem;
		
		height: 100%;
		float:left;	
		font-weight: bold;
		font-size: 2.5rem;
	}
}
